# Compiled binaries
gpp_*
*.o

# Build artifacts
*.a

# Logs
*.log
qemu_test.log

# Editor/IDE files
.idea/
*.swp
*~

# Docker
*.tar
*.tgz
*.gz
*.zip
*.bak
*.tmp

# Backup
*.old

# Build directories
build/

# User Configuration
# Best to ignore the config.mk file which contains user-specific settings
# but keep the config/ directory for any shared configuration files
config/config.mk


